@import "../../../sass/styles";
@import "../../../sass/selectButton";

.command-bar-container{
  padding: 1em 0 1em 1em;
}

.date-control{
  display: inline-block;
  border: 1px solid $at-light-grey;
  border-radius: 20px;
  background: #ffffff;
  font-weight: normal;
  color: $at-purplish-grey;
  width: 14em;
  line-height: 1em;

  padding: 5.25px;
  text: {
    align: center;
  }
}

.date-text{
  display: inline-block;
  vertical-align: middle;
}

.ui-buttonset-3{
  width: 18em;
}

.mid-button {
  padding: 0 1em 0 1em;
}

@media all and (max-width: 100em) {
  #scope-filter, #table-type-filter {
    visibility: hidden;
    clear: both;
    display: none;
  }
}

@media all and (max-width: 76em) {
  #transaction-type-filter {
    visibility: hidden;
    clear: both;
    display: none;
  }
  #date-control {
    float: unset;
  }
}
