<div class="command-bar-container">
  <p-selectButton id="scope-filter" [options]="filterScope" [(ngModel)]="selectedScope"></p-selectButton>
  <p-selectButton id="transaction-type-filter" class="ui-buttonset-3 mid-button" [options]="filterType" [(ngModel)]="selectedType"></p-selectButton>
  <p-selectButton id="table-type-filter" class="" [options]="tableType" [(ngModel)]="selectedTableType"></p-selectButton>
  <div id="date-control" class="date-control right">
    <span class="icon-ct-less left link" (click)="prevMonth()"></span>
    <span class="date-text">{{period.toLocaleString() | utcToLocalTime |  date:'MMMM, y'}} </span>
    <span class="icon-ct-more right link" (click)="nextMonth()"></span>
  </div>
  <div class="nav-outline" style="margin-top: 1em;"></div>
</div>


