<div class="artifacts-slider container">
  <form class="side-form-container">
    <div class="slider-header">
        <div class="icon-ct-close d-inline-block link" (click)="cancel()"></div>
        <div class="title d-inline-block vertical-top">Add New Account</div>
      </div>
    <div class="slider-form" *ngIf="!isSaving">
      <form #newArtifactInfoForm="ngForm" class="new-artifact-form">
        <div class="form-group">
          <label for="institution" class="slider-body light-font">Financial Institution Name</label>
          <div>
            <div ngbDropdown id="institution" class="dropdown">
              <button class="btn dropdown-btn" ngbDropdownToggle>{{selectedInstitution?.Name}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button *ngFor="let institution of institutions" class="dropdown-item"
                        (click)="onSwitchItem(institution)" [disabled] = !institution?.IsSupported>
                  {{institution?.Name}}
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group" *ngIf="selectedInstitution && !accounts && !isLoading">
          <label class="slider-body light-font">Access Credentials</label>
          <form [formGroup]="credentialsForm" (ngSubmit)="load(credentialsForm.value)">
            <div *ngFor="let credentials of selectedInstitution.Credentials" class="form-group">
              <label class="slider-body light-font">{{credentials}}</label>
              <input class="form-control outline-none" formControlName="{{credentials}}">
            </div>
            <p-button class="bw-button" label="Show Accounts"
                      (click)="load()"
                      [disabled]="!credentialsForm.valid"></p-button>
          </form>
        </div>
        <div *ngIf="isLoading" class="form-group p-grid p-nogutter" >
          <div class="p-col-12 center">
            <span class="update-notification">Please wait...</span>
          </div>
          <div class="p-col-12 center">
            <span class="update-notification">We are loading your accounts</span>
          </div>

          <p-progressSpinner class="p-col-12 center"
                             [style]="{width: '60px', height: '60px',top: '30%'}"
                             strokeWidth="2"
                             animationDuration="1.0s"
                             fill="white">
          </p-progressSpinner>
        </div>
        <div class="form-group" *ngIf="errorMessage">
          {{errorMessage}}
        </div>
        <div class="form-group" *ngIf="accounts">
          <label class="slider-body light-font">Accounts</label>
          <div *ngFor="let account of accounts">
            <div class="group-items" *ngIf="isBankAccount(account)">
              <p-card class="bw-account-item">
                <div>
                  <span>
                    <img class="switch-icon link" (click)="onSwitchToggle(account)" *ngIf="!account.IsActive" src="assets/icons/switch-off.svg"/>
                    <img class="switch-icon link" (click)="onSwitchToggle(account)" *ngIf="account.IsActive" src="assets/icons/switch-on.svg"/>
                  </span>
                  <span class="account-number">{{account.BankNumber}}-{{account.BranchNumber}}-{{account.AccountNumber}}</span>
                </div>
              </p-card>
            </div>

            <div class="group-items" *ngIf="isCreditAccount(account)">
              <p-card class="bw-account-item">
                <div>
                  <span>
                    <img class="switch-icon link" (click)="onSwitchToggle(account)" *ngIf="!account.IsActive" src="assets/icons/switch-off.svg"/>
                    <img class="switch-icon link" (click)="onSwitchToggle(account)" *ngIf="account.IsActive" src="assets/icons/switch-on.svg"/>
                  </span>
                  <span class="account-number">{{account.Name}}</span>
                </div>
              </p-card>

              <!--<label >-->
                <!--<input type="checkbox" [name]="account.CardNumber"  [(ngModel)]=account.IsActive>-->
                <!--{{account.CardNumber}}-{{account.Name}}-->
              <!--</label>-->
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="navigation" *ngIf="accounts && !isSaving">
      <p-button class="bw-button add-button" label="Add Accounts"
                (click)="save()">

      </p-button>
    </div>
    <div *ngIf="isSaving" class="p-grid p-nogutter">
      <div class="p-col-12 center">
        <span class="update-notification">Please wait... </span>
      </div>
      <div class="p-col-12 center">
        <span class="update-notification">We are updating your profile</span>
      </div>
      <div class="p-col-12 center">
        <span class="update-notification">It may take up to 2 minutes</span>
      </div>

      <p-progressSpinner class="p-col-12 center"
                         [style]="{width: '100px', height: '60px',top: '50%'}"
                         strokeWidth="2"
                         animationDuration="1.0s"
                         fill="white">
      </p-progressSpinner>
    </div>
  </form>
</div>
