@import "../sass/styles";

.wait-message{
  @include light-font-lg;
}
.account-number{
  @include light-font-lg;
  float: right;
}

.add-button {
  margin-left: 20px;
}

.update-notification{
  @include regular-font-xxl;
  color: $at-ligth-blue;
  line-height: $at-line-height-2;
}

.right {
  float: right;

}

.center{
  text-align: center;
}
