@import "../../sass/styles";
@import "../../sass/selectButton";
@import "../../sass/button";

.main-container{
  height:100%;
  padding:0;
}

.main-scrollable{
  padding-right: 5%;
  overflow-y: auto;
}

.transactions-container{
  position: absolute;
  top: 90px;
  bottom: 0;
}

.transactions-view {
  padding: 16px 14px 6px 10px;
}

.commands-container{
  margin-top: 12px;
  margin-bottom: 18px;
  display: block
}

.scrollable-container{
  height: 100%;
  overflow-y: auto;
}

.type-filter{
  margin: 0 15px 0 15px;
}

.right{
  float: right;
}

.left{
  float: left;
}

.nav-outline {
  background-color: $at-ocean;
  height: 4px;
  width: 100%;
}

.accounts-status-panel{
  @include regular-font-lg;

  line-height: $at-line-height-18;
  color: $at-purplish-grey;
  width: 100%;
  height: 100%;
  border: 0;
  margin-top: 25px;
}

.accounts-status-sub-panel{
  margin-bottom: 25px;
}
