<div class="ui-g ui-g-nopad main-container">
  <div class="ui-g-3 ui-g-offset-4 ui-g-nopad">
    <div class="ui-g-2 icon-ct-less d-inline-block link" (click)="prevMonth()"></div>
    <div class="ui-g-8 period">{{period.toLocaleString() | utcToLocalTime |  date:'MMMM, y'}} </div>
    <div class="ui-g-2 icon-ct-more d-inline-block link" (click)="nextMonth()"></div>
  </div>

  <div class="ui-g-12 history-grid table-scrollable">
    <p-dataTable [value]="periodIncome" scrollable="true" rowHover="true"
                 [globalFilter]="gb">
      <p-column field="PaymentDate" header="PaymentDate" [sortable]="true" styleClass="col-box-small">
        <ng-template let-col let-file="rowData" pTemplate="body">
          <div  appTitleOnTruncate>
            {{file[col.field].toLocaleString() | utcToLocalTime |  date:'shortDate'}}
          </div>
        </ng-template>
      </p-column>
      <p-column field="Description" header="Description" [sortable]="true" styleClass="col-box-small"></p-column>
      <p-column field="Amount" header="Amount" [sortable]="true" styleClass="col-box-small">
        <ng-template let-data="rowData" pTemplate="body">
          <div [ngStyle]="{'color': getTransactionColor(data['Type'])}">
            {{data['Amount'] | currency:'ILS':'symbol':'1.0-0'}}
          </div>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
</div>

