<p-card>
  <div class="form-group">
    <div>
      <label class="light-font">Company Name</label>
      <label class="light-font">{{(profile$|async)?.ProviderName}}</label>
    </div>

    <div>
      <label class="light-font">Plan</label>
      <label class="light-font">{{(profile$|async)?.PlanName}}</label>
    </div>

    <div>
      <label class="light-font">Creation Date</label>
      <label class="light-font">{{(profile$|async)?.PolicyOpeningDate | utcToLocalTime |  date:'shortDate'}}</label>
    </div>

    <div>
      <label class="light-font">Validation Date</label>
      <label class="light-font">{{(profile$|async)?.ValidationDate | utcToLocalTime |  date:'shortDate'}}</label>
    </div>
  </div>

  <div *ngFor="let cover of (profile$|async)?.Coverage" class="form-group" >
    <div>
      <label class="light-font">Coverage Type</label>
      <label class="light-font">{{cover?.CoverageName}}</label>
    </div>
    <div>
      <label class="light-font">Amount</label>
      <label class="light-font">{{cover?.Amount}}</label>
    </div>
    <div>
      <label class="light-font">Insurance due date</label>
      <label class="light-font">{{cover?.DueDate | utcToLocalTime |  date:'shortDate'}}</label>
    </div>
    <div>
      <label class="light-font">Monthly fee</label>
      <label class="light-font">{{cover?.ActualFee}}</label>
    </div>
  </div>

</p-card>

