<nav class="p-grid p-align-center p-nogutter navbar-expand-lg"
     style="min-width: 70em">
  <h4 class="p-col-2 brand-name">
    <img src="../../../assets/brand/gm-icon.ico" width="30" height="30" alt=""
    style="margin-right: 0.5em">
    Fino
  </h4>

  <div class="p-col-10 menu-container">
    <div class="p-grid p-nogutter">
      <ul class="p-col-6 navbar-nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link tab link"
            [routerLink]="['overview']"
            routerLinkActive="active"
            (click)="switchTab('overview')">
            Overview
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link tab link"
            [routerLink]="['accounts']"
            routerLinkActive="active"
            (click)="switchTab('accounts')">
            Accounts
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link tab link"
            [routerLink]="['loans']"
            routerLinkActive="active"
            (click)="switchTab('loans')">
            Loans
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link tab link"
            [routerLink]="['contact-us']"
            routerLinkActive="active"
            (click)="switchTab('contact-us')">
            Contact Us
          </a>
        </li>
      </ul>
      <ul class="p-col-6 navbar-nav nav-tabs" style="flex-direction: row-reverse">
        <li>
          <a class="nav-link tab link" *ngIf="!authService.isLoggedIn"
             (click)="authService.login()">
            <span id="login" class="nav-log">Login</span>
          </a>
          <a class="nav-link tab link" *ngIf="authService.isLoggedIn"
             (click)="authService.logout()">
            <span id="logout" class="nav-log">Logout</span>
          </a>
        </li>
        <li class="">
          <a class="nav-link tab menu" >
            <div class="icon-ct-menu"></div>
          </a>
        </li>
        <li class="">
          <div class="nav-link tab username">
            <span *ngIf="authService.isLoggedIn">{{(profile$ | async)?.FullName }}</span>
            <i class="fa fa-user-circle-o photo"></i>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="nav-outline"></div>
