<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#">
    <span id="brand-icon"><img src="../../../assets/brand/gm-icon.ico" width="30" height="30" class="d-inline-block align-top" alt=""></span>
    <span class="brand-name">BeWise</span>
  </a>
  <div *ngIf="true" class="collapse navbar-collapse navbar-bw" id="navbarSupportedContent">
    <ul class="nav navbar-nav mr-auto nav-tabs">
      <li class="nav-item">
        <a class="nav-link tab link"
           [routerLink]="['overview']"
           routerLinkActive="active"
           (click)="switchTab('overview')">
          Overview
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link tab link"
           [routerLink]="['accounts']"
           routerLinkActive="active"
           (click)="switchTab('accounts')">
          Accounts
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link tab link"
           [routerLink]="['loans/summary']"
           routerLinkActive="active"
           (click)="switchTab('loans')">
          Loans
        </a>
      </li>

      <!--<li class="nav-item">-->
        <!--<a class="nav-link tab link"-->
           <!--[routerLink]="['insurance/summary']"-->
           <!--routerLinkActive="active"-->
           <!--(click)="switchTab('insurance')">-->
          <!--Insurance-->
        <!--</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link tab link"-->
           <!--[routerLink]="['planning']"-->
           <!--routerLinkActive="active"-->
           <!--(click)="switchTab('planning')">-->
          <!--Planning-->
        <!--</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link tab link"-->
           <!--[routerLink]="['adviser']"-->
           <!--routerLinkActive="active"-->
           <!--(click)="switchTab('adviser')">-->
          <!--Adviser-->
        <!--</a>-->
      <!--</li>-->
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item link" >
        <a class="nav-link">
          <span id="username" *ngIf="authService.isLoggedIn">{{(profile$ | async)?.FullName }}</span>
          <i id="username-photo" class="fa fa-user-circle-o"></i>
        </a>
      </li>
      <li class="nav-item link">
        <a class="nav-link" >
          <div class="icon-ct-menu"></div>
        </a>
      </li>
      <li class="nav-button link">
        <a class="nav-link tab" *ngIf="!authService.isLoggedIn"
           (click)="authService.login()">
          <span id="login" class="nav-log">Login</span>
        </a>
        <a class="nav-link tab" *ngIf="authService.isLoggedIn"
           (click)="authService.logout()">
          <span id="logout" class="nav-log">Logout</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="nav-outline">
  <div *ngIf="false" class="animate-moving-rec"></div>
</div>
