@import "../../../sass/styles";

nav {
  width: $navbar-width;
  background-color: $at-dark-app-bar;
  padding: 0;
}

h4 {
  margin:0;
}

.navbar-bw{
  min-width: 1000px
}

.brand-name {
  font: {
    family: $ct-font-family;
    weight: $ct-font-weight-regular;
    size: 1.8em;
  }

  color: $at-ocean;
  min-width: 6em;
  padding: 0.2em 0 0 0.6em !important;
}

.brand-icon {
  margin: 0.4em 0 0 0;
}

.icon-ct-menu {
  padding: 10px;
  color: $at-text-light;
}

.icon-ct-notification {
  padding: 13px 13px 12px 13px;
  color: $at-text-light;
}

#notification-link {
  border-right: $navbar-separator;
  border-left: $navbar-separator;
}

#username {
  @include light-font-lg;
  color: $at-text-light;
  padding: 16px 0 14px 24px;
  border-left: $navbar-separator;
}

#login {
  @include light-font-lg;
  color: $at-text-light;
}

#logout {
  @include light-font-lg;
  color: $at-text-light;
}

#application {
  @include light-font-lg;
  color: $at-text-light;
  padding: 16px 0 15px 24px;
  line-height: normal;
  vertical-align: top;
}

.icon-ct-shevron {
  padding: 14px 24px 10px 7px;
  line-height: normal;
  color: $at-text-light;
  vertical-align: top;
}

.nav-outline {
  background-color: $at-ocean;
  height: 4px;
  width: 100%;
}

.nav-tabs {
  border-bottom: none;
  .nav-link.active {
    background-color: $at-ocean;
  }
}

.navbar-expand-lg {
  .navbar-nav {
    flex-direction: unset;
    padding: 0;
    .nav-link {
      padding: 0;
      margin: 0;
      border: 0;
      border-radius: 0;
      line-height: $at-line-height-3;
      color: $at-text-light;
      width: $tab-width;

      &.tab {
        @include regular-font-lg;
        text: {
          transform: uppercase;
          align: center;
        }
      };

      &.menu{
        @include regular-font-lg;
        text: {
          transform: none;
          align: center;
        }
        width: unset;
      };

      &.username {
        @include light-font-lg;
        text: {
          transform: none;
          align: center;
        }
        border-left: $navbar-separator;
      }

      .photo{
        padding: 0 2em 0 1em;
      }
    }

    select{
      background: transparent;
      border: none;
      color: $at-text-light;
      height:100%;
      option{
        color: $at-twilight-blue
      }
    }
  }
}

.menu-container{
  padding: 0;
}

.nav-log{
  padding: 10px 15px;
  border: 1px solid $at-greyish-brown;
  border-radius: 5px;
  margin: 0;
}

.nav-log:hover {
  background: $at-peacock-greyish-blue;
}

.nav-button {
  margin: 4px 0 4px 0;
}

.nav-item:hover {
  background: $at-peacock-greyish-blue;
  margin: 0;
}
