@import "../../../sass/styles";

.view-container{
  height:100%;
  padding: 50px 20px 20px 0px;
  padding-right: 5%;
}

.table-scrollable{
  height: 94%;
  overflow-y: auto;
}

.loan-caption{
  @include light-font-xl;
  font-size: 24px;
  padding: 10px 0 10px 20px;
}

.loan-summary{
  @include regular-font-lg;

  width: 100%;
  background: $at-pale-grey-three;
  margin: 20px 10px 10px 0px;
  color: $at-ligth-blue;
  line-height: 26px;
}

.loan-summary-section{
  padding: 10px 20px 10px 10px;
}

.regular {
  @include light-font-lg;
  color: $at-purplish-grey;
}

.light {
  @include light-font-lg;
  color:$at-text-sub-headline;
}

.bank-name{
  @include light-font-md;
  color: $at-purplish-grey;
  text-align: right;
}
