<div id="loan-view" class="loan-view">
  <div class="loan-caption">
    <span *ngIf="loan" class="ui-g light-font">{{loan?.Id}} - {{loan?.InterestType}} | {{loan?.IndexType}}</span>
    <span *ngIf="!loan" class="ui-g light-font">Please select the loan from the list on left</span>
  </div>

  <div class="nav-outline">
    <div *ngIf="false" class="animate-moving-rec"></div>
  </div>

  <div class="p-grid loan-summary">
    <div class="p-col-6">
      <div class="">
        <span>Account</span>
        <span class="right light">{{loan?.BankNumber}}-{{loan?.BankBranchNumber}}-{{loan?.BankAccountNumber}}</span>
      </div>
      <div class="ui-g ui-g-nopad">
        <span class="ui-g-12 ui-g-nopad bank-name" >{{loan?.BankName}}</span>
      </div>
      <div class="">
        <span class="light">Start Date</span>
        <span class="right regular">{{loan?.StartDate | utcToLocalTime |  date:'dd/MM/yy'}}</span>
      </div>
      <div class="">
        <span class="light">Payoff Date</span>
        <span class="right regular">{{loan?.PayoffDate | utcToLocalTime |  date:'dd/MM/yy'}}</span>
      </div>
      <div class="">
        <span class="light">Original Amount</span>
        <span class="right regular">{{loan?.OriginalAmount | currency:'ILS':'symbol':'1.0-0'}}</span>
      </div>

      <!--<div class="">-->
        <!--<span class="light">Secured by</span>-->
        <!--<span class="right regular">{{loan?.InsuranceCompany}}</span>-->
      <!--</div>-->
      <!--<div class="">-->
        <!--<span class="light">Current Dept</span>-->
        <!--<span class="right regular">{{loan?.DeptAmount | currency:'ILS':'symbol':'1.0-0'}}</span>-->
      <!--</div>-->
    </div>

    <div class="p-col-6">
      <div class="">
        <span>Payment</span>
      </div>
      <div class="" style="margin-top: 1.6em">
        <span class="light">Principal Amount</span>
        <span class="right regular">{{loan?.DeptAmount | currency:'ILS':'symbol':'1.0-0'}}</span>
      </div>
      <div class="">
        <span class="light">Interest</span>
        <span class="right regular">{{loan?.InterestAmount | currency:'ILS':'symbol':'1.0-0'}}</span>
      </div>
      <div class="">
        <span class="light">Total</span>
        <span class="right regular">{{loan?.DeptAmount + loan?.InterestAmount | currency:'ILS':'symbol':'1.0-0'}}</span>
      </div>
      <!--<div>Next Payment</div>-->
      <!--<div class="regular">{{loan?.LastPaymentAmount | currency:'ILS':'symbol':'1.0-0'}}</div>-->
      <!--<div class="light">{{loan?.NextPaymentDate | utcToLocalTime |  date:'dd/MM/yy'}}</div>-->
    </div>

    <!--<div class="p-col-2">-->
      <!--<div class="">Interest Rate</div>-->
    <!--</div>-->

    <!--<div class="p-col-2">-->
      <!--<div>Payoff Date</div>-->
      <!--<span class="ui-g-4" class="regular">{{loan?.PayoffDate | utcToLocalTime |  date:'dd/MM/yy'}}</span>-->
    <!--</div>-->
  </div>

  <div class="p-grid">
    <div class="ui-g-6">
      <div class="ui-g-12 ui-g-nopad">
        <span class="ui-g-8 accounts-status-sub-panel">Mortgage Amortization</span>
        <p-chart type="bar"[data]="loanAmortisation"></p-chart>
      </div>
    </div>
  </div>
</div>
