<div id="loan-view" class="loan-view">
  <div class="loan-caption">
    <span *ngIf="loan" class="ui-g light-font">{{loan?.Id}} - {{loan?.InterestType}} | {{loan?.IndexType}}</span>
    <span *ngIf="!loan" class="ui-g light-font">Please select the loan from the list on left</span>
  </div>

  <div class="nav-outline">
    <div *ngIf="false" class="animate-moving-rec"></div>
  </div>

  <div class="p-grid loan-summary">
    <div class="p-col-6">
      <div class="">
        <span>Account</span>
        <!--<span class="right light">{{loan?.BankNumber}}-{{loan?.BankBranchNumber}}-{{loan?.BankAccountNumber}}</span>-->
      </div>
      <!--<div class="p-grid p-nogutter">-->
        <!--<span class="p-col-12 bank-name" >{{loan?.BankName}}</span>-->
      <!--</div>-->
      <div class="">
        <span class="light">{{loan?.BankName}}</span>
        <span class="right regular">{{loan?.BankNumber}}-{{loan?.BankBranchNumber}}-{{loan?.BankAccountNumber}}</span>
      </div>
      <div class="">
        <span class="light">Start Date</span>
        <span class="right regular">{{loan?.StartDate | utcToLocalTime |  date:'dd/MM/yy'}}</span>
      </div>
      <div class="">
        <span class="light">Payoff Date</span>
        <span class="right regular">{{loan?.PayoffDate | utcToLocalTime |  date:'dd/MM/yy'}}</span>
      </div>
      <div class="">
        <span class="light">Original Loan</span>
        <span class="right regular">{{loan?.OriginalAmount | currency:'ILS':'symbol':'1.0-0'}}</span>
      </div>
      <!--<div class="">-->
        <!--<span class="light">Secured by</span>-->
        <!--<span class="right regular">{{loan?.InsuranceCompany}}</span>-->
      <!--</div>-->
    </div>

    <div class="p-col-5 p-offset-1">
      <div class="">
        <span>Payments</span>
      </div>
      <div class="" style="margin-top: 1.7em">
        <span class="light">Principal</span>
        <span class="right regular">{{loan?.DeptAmount | currency:'ILS':'symbol':'1.0-0'}}</span>
      </div>
      <div class="" >
        <span class="light">Interest ({{loan?.InterestRate}}%)</span>
        <span class="right regular">{{loan?.InterestAmount | currency:'ILS':'symbol':'1.0-0'}}</span>
      </div>
      <div class="total-outline"></div>
      <div class="">
        <span class="light">Total Payment</span>
        <span class="right regular">{{loan?.DeptAmount + loan?.InterestAmount | currency:'ILS':'symbol':'1.0-0'}}</span>
      </div>
      <!--<div>Next Payment</div>-->
      <!--<div class="regular">{{loan?.LastPaymentAmount | currency:'ILS':'symbol':'1.0-0'}}</div>-->
      <!--<div class="light">{{loan?.NextPaymentDate | utcToLocalTime |  date:'dd/MM/yy'}}</div>-->
    </div>
  </div>

  <div class="p-grid p-nogutter" style="margin: 0 10px">
    <span class="loan-sub-label">Mortgage Amortization</span>
    <div class="p-col-12">
      <p-chart type="bar" [data]="loanAmortisationData" [options]="loanAmortisationOptions"></p-chart>
    </div>
  </div>
</div>
