@import "mixins";

.history-search {
  display: flex;
  align-items: center;
  border-radius: 1px;
  border: solid 1px $at-light-grey;
  margin-bottom: 24px;
  &:hover .icon-ct-search {
    color: $at-ocean;
  }

  input.history-search-input {
    @include light-font-md;
    line-height: $at-line-height-18;
    color: $at-text-sub-headline;
    width: 86.3%;
    padding: 9px 0 8px 0;
    border: 0;
    &:focus {
      color: $at-dark-app-bar;
      caret-color: $at-ocean;
    }
  }
  .icon-ct-search {
    color: $at-purplish-grey;
    padding: 4px 8px 4px 4px;
  }
}

.history-tab {
  padding: 24px;
  overflow-y: auto;
}

