@import "./styles";

.ui-selectbutton .ui-button:not(.ui-state-disabled):not(.ui-state-active):hover {
  border-color: $at-light-grey;
  background: #ffffff;
  color: $at-purplish-grey; }

.ui-selectbutton .ui-button:not(.ui-state-disabled):not(.ui-state-active):hover a {
  color: $at-purplish-grey; }

/* ButtonSet */
.ui-togglebutton.ui-button.ui-state-default,
.ui-selectbutton .ui-button.ui-state-default{
  border: 1px solid $at-light-grey;
  background: #ffffff;
  font-weight: normal;
  color: $at-purplish-grey;
  width: 6em;
}

.ui-togglebutton.ui-button.ui-state-default:first-child,
.ui-selectbutton .ui-button.ui-state-default:first-child {
  border-radius: 20px 0 0 20px;
}

.ui-togglebutton.ui-button.ui-state-default:last-child,
.ui-selectbutton .ui-button.ui-state-default:last-child {
  border-radius: 0 20px 20px 0;
}

.ui-togglebutton.ui-button.ui-state-hover, .bw-selectbutton .ui-togglebutton.ui-button.ui-state-focus,
.ui-selectbutton .ui-button.ui-state-hover, .bw-selectbutton .ui-selectbutton .ui-button.ui-state-focus,
.ui-selectbutton .ui-button:focus {
  background: #eeeeee;
  font-weight: normal;
  color: $at-purplish-grey; }

.ui-togglebutton.ui-button.ui-state-focus,
.ui-selectbutton .ui-button.ui-state-focus.ui-state-active,
.ui-selectbutton .ui-button.ui-state-active {
  background: $at-ligth-blue;
  color: #ffffff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.ui-button .ui-button-text {
  line-height: 1.8em;
  font-size: $at-font-size-lg;
}
