@import "variables";
@import "mixins";

app-settings {
  height: 80%;
}

.ct-settings-dialog {
  // override the deafult ngb-modal classes
  .modal-dialog {
    height: 90%;
    .modal-content {
      height: 100%;
      background-color: $at-exec-files-bg-light-gray;
      width: 92rem;
      position: relative;
      right: 29rem;
    }
  }

  .modal-open .modal {
    overflow-y: hidden;
  }
}
