<p-progressBar *ngIf="isLoansLoading" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
<div *ngIf="!isLoansLoading" class="p-grid p-nogutter main-container">
  <div *ngIf="(loans$|async)?.length > 0" class="p-col-fixed" style="width:20em">
    <app-loans-sidebar class="main-container"></app-loans-sidebar>
  </div>

  <div *ngIf="(loans$|async)?.length > 0" class="p-col">
    <div class="p-grid p-nogutter" style="height: 100%">
      <div class="p-col-6">
        <app-loan-view></app-loan-view>
      </div>

      <div class="p-col-6">
        <app-loans-status-bar></app-loans-status-bar>
      </div>
    </div>
  </div>

  <div *ngIf="!((loans$|async)?.length > 0)"
       class="p-col-12 p-col-align-center center">
    <span class="empty-page">There are no mortgages in your profile</span>
  </div>


  <router-outlet></router-outlet>
</div>

<!--<div *ngIf="isLoading()" class="main-container">-->
<!--<p-progressSpinner class="ui-g-2 ui-g-offset-5"-->
<!--[style]="{width: '200px', height: '200px',top: '30%'}"-->
<!--strokeWidth="2"-->
<!--animationDuration="1.0s"-->
<!--fill="white">-->
<!--</p-progressSpinner>-->
<!--</div>-->
