@import "../../sass/styles";
@import "../../sass/selectButton";
@import "../../sass/button";

.main-container{
  height:100%;
  padding:1px 0 0 0;
  min-width: 60em;
}

.main-scrollable{
  padding-right: 5%;
  overflow-y: auto;
}

.loan-container{
  position: absolute;
  top: 90px;
  bottom: 0;
}

.loans-container{
  margin-top: 12px;
  margin-bottom: 18px;
  display: block
}

.loan-bar-container{
  padding: 0 10px 0 10px;
}

.right{
  float: right;
  //text-align: right;
}

.center{
  text-align: center;
}

.left{
  float: left;
  text-align: left;
}

.nav-outline {
  background-color: $at-ocean;
  height: 4px;
  width: 100%;
}

@media all and (max-width: 74em) {
  #loan-view {
    visibility: hidden;
    clear: both;
    display: none;

  }
  #loan-view-container{
    flex-grow: 0;
  }
  #loans-statusbar {
    width: 40em;
  }
}

.selected-loan{
  width: 6px;
  background-color: $at-azure;
  margin-bottom: 1px;
}

.loan-summary{
  @include regular-font-lg;

  width: 100%;
  //background: $at-pale-grey-three;
  margin: 20px 10px 10px 0px;
  color: $at-ligth-blue;
  line-height: 26px;
}

.total-outline{
  background-color: #666666;
  margin: 0.75em 0 0.2em 0;
  height: 0.05em;
  width: 100%;
}

.loan-sub-label{
  @include light-font-lg;
  color: $at-purplish-grey;
  margin: 2em 0 1em 0;
}

.empty-page{
  @include regular-font-xxxl;
  color: $at-ligth-blue;
  line-height: $at-line-height-6;
}

