<div class="p-grid p-nogutter main-container">
  <div class="p-col-fixed" style="width:20em">
    <app-loans-sidebar class="main-container"></app-loans-sidebar>
  </div>

  <div id="loan-view-container" class="p-col">
    <app-loan-view ></app-loan-view>
  </div>

  <app-loans-status-bar class="p-col-fixed" style="width:20em"></app-loans-status-bar>

  <router-outlet></router-outlet>
</div>

<!--<div *ngIf="isLoading()" class="main-container">-->
<!--<p-progressSpinner class="ui-g-2 ui-g-offset-5"-->
<!--[style]="{width: '200px', height: '200px',top: '30%'}"-->
<!--strokeWidth="2"-->
<!--animationDuration="1.0s"-->
<!--fill="white">-->
<!--</p-progressSpinner>-->
<!--</div>-->
