<!--<p-dataTable [value]="transactions$ | async" scrollable="true" rowHover="true" [globalFilter]="gb">-->

  <!--<p-column field="PaymentDate" header="PaymentDate" [sortable]="true" styleClass="col-box-small">-->
    <!--<ng-template let-col let-file="rowData" pTemplate="body">-->
      <!--<div >{{file[col.field].toLocaleString() | utcToLocalTime |  date:'dd/MM/yy'}}</div>-->
    <!--</ng-template>-->
  <!--</p-column>-->

  <!--<p-column field="Description" header="Description" [sortable]="true" styleClass="col-box-small"></p-column>-->
  <!--<p-column field="Amount" header="Amount" [sortable]="true" styleClass="col-box-small">-->
    <!--<ng-template let-data="rowData" pTemplate="body">-->
      <!--<div [ngStyle]="{'color': getTransactionColor(data['Type'])}">{{data['Amount'] | currency:'ILS':'symbol':'1.0-0'}}</div>-->
    <!--</ng-template>-->
  <!--</p-column>-->

  <!--<p-column field="CurrentBalance" header="CurrentBalance" [sortable]="true" styleClass="col-box-small">-->
  <!--<ng-template let-data="rowData" pTemplate="body">-->
    <!--<div [ngStyle]="{'color': getBalanceColor(data['CurrentBalance'])}">{{data['CurrentBalance'] | currency:'ILS':'symbol':'1.0-0'}}</div>-->
  <!--</ng-template>-->
  <!--</p-column>-->

<!--</p-dataTable>-->




<!--<div class="ui-g ui-g-nopad" style="margin-left: -5%;">-->
  <!--<div class="ui-g-9">-->
    <!--<div class="commands-container ui-g" style="margin-bottom: 19.5px">-->
      <!--<p-selectButton class="bw-selectbutton" [options]="filterScope" [(ngModel)]="selectedScope"></p-selectButton>-->
      <!--<p-selectButton class="bw-selectbutton type-filter" [options]="filterType" [(ngModel)]="selectedType"></p-selectButton>-->
    <!--</div>-->

    <!--<div class="nav-outline">-->
      <!--<div *ngIf="false" class="animate-moving-rec"></div>-->
    <!--</div>-->

    <!--<div class="accounts-status-panel ui-g-12 ui-g-nopad">-->
      <!--<div class="history-grid table-scrollable ui-g-12 ui-g-nopad">-->
        <!--<p-dataTable [value]="transactions$ | async" scrollable="true" rowHover="true"-->
                     <!--[globalFilter]="gb">-->
          <!--<p-column field="PaymentDate" header="PaymentDate" [sortable]="true" styleClass="col-box-small">-->
            <!--<ng-template let-col let-file="rowData" pTemplate="body">-->
              <!--<div >-->
                <!--{{file[col.field].toLocaleString() | utcToLocalTime |  date:'dd/MM/yy'}}-->
              <!--</div>-->
            <!--</ng-template>-->
          <!--</p-column>-->
          <!--<p-column field="Description" header="Description" [sortable]="true" styleClass="col-box-small"></p-column>-->
          <!--<p-column field="Amount" header="Amount" [sortable]="true" styleClass="col-box-small">-->
            <!--<ng-template let-data="rowData" pTemplate="body">-->
              <!--<div [ngStyle]="{'color': getTransactionColor(data['Type'])}">-->
                <!--{{data['Amount'] | currency:'ILS':'symbol':'1.0-0'}}-->
              <!--</div>-->
            <!--</ng-template>-->
          <!--</p-column>-->
          <!--<p-column field="CurrentBalance" header="CurrentBalance" [sortable]="true" styleClass="col-box-small">-->
            <!--<ng-template let-data="rowData" pTemplate="body">-->
              <!--<div [ngStyle]="{'color': getBalanceColor(data['CurrentBalance'])}">-->
                <!--{{data['CurrentBalance'] | currency:'ILS':'symbol':'1.0-0'}}-->
              <!--</div>-->
            <!--</ng-template>-->
          <!--</p-column>-->
        <!--</p-dataTable>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="ui-g-3">-->
    <!--<div class="commands-container ui-g">-->
      <!--<p-button class="bw-button right" label="Add Account" routerLink="add_account" ></p-button>-->
    <!--</div>-->

    <!--<div class="nav-outline">-->
      <!--<div *ngIf="false" class="animate-moving-rec"></div>-->
    <!--</div>-->

    <!--<div class="accounts-status-panel ui-g-12 ui-g-nopad" style="margin-top: 16px">-->
      <!--<div class="accounts-status-sub-panel ui-g-12 ui-g-nopad">-->
        <!--<div>-->
          <!--<span class="ui-g-8">Period Income</span>-->
          <!--<span class="ui-g-4 balance" [ngStyle]="{'color': getBalanceColor(53400)}">-->
            <!--{{53400 | currency:'ILS':'symbol':'1.0-0'}}</span>-->
        <!--</div>-->
        <!--<div>-->
          <!--<span class="ui-g-8">Period Outcome</span>-->
          <!--<span class="ui-g-4 balance" [ngStyle]="{'color': getBalanceColor(41200)}">-->
            <!--{{41200 | currency:'ILS':'symbol':'1.0-0'}}</span>-->
        <!--</div>-->
        <!--<div>-->
          <!--<span class="ui-g-8">Period Balance</span>-->
          <!--<span class="ui-g-4 balance" [ngStyle]="{'color': getBalanceColor(22312)}">-->
            <!--{{22312 | currency:'ILS':'symbol':'1.0-0'}}</span>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="accounts-status-sub-panel ui-g-12 ui-g-nopad">-->
        <!--<div>-->
          <!--<span class="ui-g-8">Period Bank Fees</span>-->
          <!--<span class="ui-g-4 balance" [ngStyle]="{'color': getBalanceColor(324)}">-->
            <!--{{324 | currency:'ILS':'symbol':'1.0-0'}}</span>-->
        <!--</div>-->
        <!--<div>-->
          <!--<span class="ui-g-8">Period Credit Fees</span>-->
          <!--<span class="ui-g-4 balance" [ngStyle]="{'color': getBalanceColor(120)}">-->
            <!--{{120 | currency:'ILS':'symbol':'1.0-0'}}</span>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="accounts-status-sub-panel ui-g-12 ui-g-nopad">-->
        <!--<div>-->
          <!--<span class="ui-g-8">Total Balance</span>-->
          <!--<span class="ui-g-4 balance" [ngStyle]="{'color': getBalanceColor(22312)}">-->
            <!--{{22312 | currency:'ILS':'symbol':'1.0-0'}}</span>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash;<div accounts-status-sub-panel>&ndash;&gt;-->
      <!--&lt;!&ndash;<p-chart type="doughnut" [data]="incomeData"></p-chart>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--</div>-->
<!--</div>-->







<!--<div class="ui-g ui-g-nopad scrollable-container">-->
  <!--<div class="ui-g-8">-->
    <!--<p-card>-->
      <!--<h4>Incomes vs Expenses</h4>-->
      <!--<p-chart type="bar" [data]="incomeOutcomeData"></p-chart>-->
    <!--</p-card>-->
  <!--</div>-->

  <!--<div class="ui-g-4">-->
    <!--<p-card>-->
      <!--<h4>Credit Obligations</h4>-->
      <!--<p>This is a comprehensive view of your finance profile-->
        <!--based on the information retrieved from the financial-->
        <!--institutions registered on your account. We recommend-->
        <!--to keep your registration information updated always.-->
        <!--For more information about the capabilities and services-->
        <!--provided by BeWise - please refer to the About section.-->
      <!--</p>-->
      <!--<p-chart type="doughnut" [data]="incomeData"></p-chart>-->
    <!--</p-card>-->
  <!--</div>-->

  <!--<div class="ui-g-6">-->
    <!--<p-card>-->
      <!--<h4>Income Source</h4>-->
      <!--<p-chart type="pie"  [data]="incomeData"></p-chart>-->
    <!--</p-card>-->
  <!--</div>-->
  <!--<div class="ui-g-6">-->
    <!--<p-card>-->
      <!--<h4>Expenses Source</h4>-->
      <!--<p-chart type="pie"  [data]="expenseData"></p-chart>-->
    <!--</p-card>-->
  <!--</div>-->

<!--</div>-->
