<div class="loans-sidebar">
  <p-accordion class="bw-accordion" [multiple]="true" [expandIcon]="fa" [collapseIcon]="fa" activeIndex="[0,1]"
               *ngFor="let mortgage of mortgages">
      <p-accordionTab>
        <p-header>
          <div>
            <span>Mortgage</span>
            <span class="right">{{mortgage.key}}</span>
          </div>
        </p-header>

        <div *ngFor="let loan of mortgage.loans" (click)="openLoanView(loan)">
          <div class="p-grid p-nogutter">
            <div *ngIf="isSelected(loan)" class="p-col-fixed selected-loan"></div>
            <p-card class="p-col bw-sidebar-item">
              <div>
                <span class="">{{loan.Id}}</span>
                <span class="right">{{loan.DeptAmount | currency:'ILS':'symbol':'1.0-0'}}</span>
              </div>
              <div>
                <span class="basic-text">{{loan.PayoffDate | utcToLocalTime | date:'MMMM, y'}}</span>
                <span class="right">{{loan.InterestType}} - {{loan.IndexType}}</span>
              </div>
            </p-card>
          </div>
        </div>
        <p-progressBar *ngIf="isLoading" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
      </p-accordionTab>
  </p-accordion>
</div>
