@import "../../../sass/styles";
@import "../../../sass/button";

.balance{
  font-size: 14px;
  float: right;
}

.status-side-bar {
  padding: 0 1em 1em 1em;
}

.light {
  @include light-font-lg;
  color:$at-text-sub-headline;
}
