<div id="loans-statusbar" class="status-side-bar">
  <div class="p-grid p-justify-end p-nogutter command-bar-container">
    <p-button class="bw-button" label="Add Account" routerLink="add" style="flex-direction: row-reverse"></p-button>
  </div>
  <div class="nav-outline">
    <div *ngIf="false" class="animate-moving-rec"></div>
  </div>

  <div class="p-grid p-nogutter accounts-status-sub-panel">
    <div class="p-col-12">
        <span class="">Total Loan</span>
        <span class="right">{{1865300.00 | currency:'ILS':'symbol':'1.2-2'}}</span>
    </div>

    <div class="p-col-12">
        <span class="">Total Interest (7%)</span>
        <span class="right">{{900300.00 | currency:'ILS':'symbol':'1.2-2'}}</span>
    </div>

    <div class="p-col-12">
        <span class="">Total Payoff</span>
        <span class="right">{{2340200.00 | currency:'ILS':'symbol':'1.2-2'}}</span>
    </div>

    <div class="p-col-12">
      <span class="">Remaining</span>
      <span class="right">{{1600415.00 | currency:'ILS':'symbol':'1.2-2'}}</span>
    </div>
  </div>

  <div class="p-grid p-nogutter accounts-status-sub-panel" style="padding-top: 2em">
    <div class="p-col-12">
        <span class="ui-g-12 accounts-status-sub-panel">Recommended Loan Amortization</span>
        <p-chart type="line" [data]="recomendedLoanAmortisation"></p-chart>
    </div>

    <div class="p-col-12">
      <span class="ui-g-6">Remaining</span>
      <span class="ui-g-6 right">{{1370310.00 | currency:'ILS':'symbol':'1.2-2'}}</span>
    </div>

    <p-button class="p-col-12 right" style="padding-bottom: 30px" label="Raise Request" ></p-button>

    <div class="nav-outline p-col-12"></div>
  </div>

  <div class="p-grid p-nogutter accounts-status-sub-panel" style="padding-top: 2em">
    <div class="p-col-12">
      <span>Based on the analysis of your finance profile we suggest you on the following products...</span>
    </div>

    <p-button class="p-col-12 right" label="Raise Request"></p-button>
  </div>

</div>
