<div id="loans-statusbar" class="status-side-bar">
  <div class="p-grid p-justify-end p-nogutter command-bar-container">
    <p-button class="bw-button" label="Add Account" routerLink="add" style="flex-direction: row-reverse"></p-button>
  </div>

  <div class="nav-outline">
    <div *ngIf="false" class="animate-moving-rec"></div>
  </div>

  <div>
    <div class="p-grid loan-summary">
      <div class="p-col-12">
        <div class="">
          <span>Total Mortgage Payments</span>
        </div>
        <div class="">
          <span class="light">Original Mortgage</span>
          <span class="right regular">{{originalPrincipal | currency:'ILS':'symbol':'1.2-2'}}</span>
        </div>
        <div class="">
          <span class="light">Total Principal Payment</span>
          <span class="right regular">{{currentPrincipal | currency:'ILS':'symbol':'1.2-2'}}</span>
        </div>

        <div class="">
          <span class="light">Total Interest Payment</span>
          <span class="right regular">{{currentInterest | currency:'ILS':'symbol':'1.2-2'}}</span>
        </div>

        <div class="total-outline"></div>

        <div class="">
          <span class="light">Total Payment</span>
          <span class="right regular">{{currentPrincipal + currentInterest | currency:'ILS':'symbol':'1.2-2'}}</span>
        </div>
      </div>
    </div>

    <div class="p-grid p-nogutter" style="margin: 0 10px">
    <span class="loan-sub-label">Recommended Mortgage Amortization</span>
    <div class="p-col-12">
        <p-chart type="line" [data]="loanAmortisationData" [options]="loanAmortisationOptions"></p-chart>
    </div>

    <div class="p-col-12 loan-sub-label">
      <span class="light">Current Total Principal</span>
      <span class="right regular" style="color:#FF6347">{{currentPrincipal | currency:'ILS':'symbol':'1.2-2'}}</span>
    </div>

    <div class="p-col-12">
      <span class="light">Recommended Total Principal</span>
      <span class="right regular" style="color:#20B2AA">{{currentPrincipal | currency:'ILS':'symbol':'1.2-2'}}</span>
    </div>

    <div class="p-col-12 loan-sub-label">
      <p-button class="" style="padding-bottom: 30px" label="Get More Info" ></p-button>
    </div>
    <!--<div class="nav-outline p-col-12"></div>-->
  </div>
  </div>
  <!--<div class="p-grid p-nogutter accounts-status-sub-panel" style="padding-top: 2em">-->
    <!--<div class="p-col-12">-->
      <!--<span>Based on the analysis of your finance profile we suggest you on the following products...</span>-->
    <!--</div>-->

    <!--<p-button class="p-col-12 right" label="Raise Request"></p-button>-->
  <!--</div>-->
</div>
