<div class="p-grid main-container">
  <div class="p-col-10 p-offset-1 contact-us-container">
    <div class="p-grid p-justify-center">
      <div class="p-col-12" style="text-align:center">
        <span class="contact-us-caption" >We'd Love to Hear From You!</span>
      </div>

      <div class="p-col-6" style="padding-right: 4em">
        <p class="contact-us-sub-caption">
          Personal finance made simple
        </p>
        <p>
          Our mission is assisting you to make informed financial decisions that cut expenses, save money and
          secure your family's future.
        </p>

        <p>
          Fino provides a simple but comprehensive view of your private finance profile. It enables access and
          consolidation of private financial sources from banks to insurance companies at one place.
          We believe that you know best what you need, we assist you deliver it.
        </p>

        <p>
          Fino is a startup company that is continuously building the best in class personal financial application
          by hearing it's users and gathering ongoing feedback. We are open for you ideas and always happy to hear
          about your needs in a personal finance area. Don't hesitate to contact us with new ideas and wishes.
        </p>
      </div>

      <div class="p-col-6"  style="padding-left: 4em">
        <div *ngIf="!isSent" class="p-grid">
          <div class="p-col-12 ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input requered pInputText type="text" placeholder="Name" [(ngModel)]="name"
                   [ngStyle]="getNameBackground()">
          </div>
          <div class="p-col-6 ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-envelope"></i></span>
            <input requered pInputText type="email" placeholder="Email" [(ngModel)]="email"
                   [ngStyle]="getEmailBackground()">
          </div>
          <div class="p-col-6 ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-phone"></i></span>
            <input type="text" pInputText placeholder="Phone Number" [(ngModel)]="phone">
          </div>
          <div class="p-col-12 ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-pencil"></i></span>
            <input type="text" pInputText placeholder="Subject" [(ngModel)]="subject">
          </div>
          <div class="p-col-12 ui-inputgroup">
            <textarea pInputTextarea [rows]="8" [(ngModel)]="message" style="width: 100%"
                      [ngStyle]="getMessageBackground()"></textarea>
          </div>
          <div class="p-col-12">
            <div class="p-grid p-justify-end p-nogutter">
              <p-button class="bw-button" label="Send to Fino" (click)="onSend()"
                        style="flex-direction: row-reverse"></p-button>
            </div>
          </div>
        </div>
        <div *ngIf="isSent" class="p-grid">
          Thanks You!
          We will review your message during upcoming 24 hours.
        </div>
      </div>
    </div>
  </div>

  <div class="p-col-12 p-col-align-end" style="text-align:center">
    <div class="p-grid p-justify-center connect-with-us-container">
      <div class="contact-with-us">Connect With Us</div>

      <a href="http://facebook.com" target="_blank">
        <span class="social-network-wrapper">
          <i class="fa fa-facebook social-network-image"></i>
        </span>
      </a>
      <a href="http://twitter.com" target="_blank">
        <span class="social-network-wrapper">
          <i class="fa fa-twitter social-network-image"></i>
        </span>
      </a>
      <a href="http://youtube.com" target="_blank">
        <span class="social-network-wrapper">
          <i class="fa fa-youtube social-network-image"></i>
        </span>
      </a>
      <a href="http://linkedin.com" target="_blank">
        <span class="social-network-wrapper">
          <i class="fa fa-linkedin social-network-image"></i>
        </span>
      </a>
      <a href="http://instagram.com" target="_blank">
        <span class="social-network-wrapper">
          <i class="fa fa-instagram social-network-image"></i>
        </span>
      </a>
    </div>
  </div>
</div>


<!--<form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">-->
<!--<div class="p-grid">-->
  <!--<p-panel class="p-col-6 p-offset-3" header="We'd Love to Hear from You!">-->
  <!--<div class="p-grid">-->
    <!--<div class="">-->
      <!--Name *:-->
    <!--</div>-->
    <!--<div class="ui-grid-col-6">-->
      <!--<input pInputText type="text" formControlName="name" placeholder="Required"/>-->
    <!--</div>-->
    <!--<div class="ui-grid-col-4">-->
      <!--<p-message severity="error" text="Name is required" *ngIf="!userform.controls['name'].valid&&userform.controls['name'].dirty"></p-message>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="p-grid">-->
    <!--<div class="">-->
      <!--Email *:-->
    <!--</div>-->
    <!--<div class="">-->
      <!--<input pInputText type="text" formControlName="email" placeholder="Required"/>-->
    <!--</div>-->
    <!--<div class="">-->
      <!--<p-message severity="error" text="Email is required" *ngIf="!userform.controls['email'].valid&&userform.controls['email'].dirty"></p-message>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="p-grid">-->
    <!--<div class="">-->
      <!--Phone Number :-->
    <!--</div>-->
    <!--<div class="">-->
      <!--<input pInputText type="text" formControlName="email" placeholder="Required"/>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="p-grid">-->
    <!--<div class="">-->
      <!--Description:-->
    <!--</div>-->
    <!--<div class="">-->
      <!--<textarea pInputTextarea type="text" formControlName="message"></textarea>-->
    <!--</div>-->
    <!--<div class=""></div>-->
  <!--</div>-->

  <!--<p-button class="bw-button" label="Send" routerLink="send"></p-button>-->

<!--</p-panel>-->
<!--</div>-->
<!--</form>-->
