<div class="transactions-container">
  <div class="history-grid table-scrollable">
  <p-progressBar *ngIf="isLoading" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
  <p-dataTable *ngIf="isFlatTable()" [value]="transactions" scrollable="true" rowHover="true"
               [immutable] = false [globalFilter]="gb">
    <p-column field="PaymentDate" header="PaymentDate" [sortable]="true" styleClass="col-box-small">
      <ng-template let-col let-file="rowData" pTemplate="body">
        <div class="p-grid p-nogutter">
          <img *ngIf="file['ProviderName'] === 'Hapoalim'" src="../../../assets/hapoalim.png" width="20" height="15" alt="">
          <img *ngIf="file['ProviderName'] === 'Amex'" src="../../../assets/amex.png" width="20" height="15" alt="">
          <img *ngIf="file['ProviderName'] === 'Leumi'" src="../../../assets/leumi.png" width="20" height="15" alt="">
          <img *ngIf="file['ProviderName'] !== 'Hapoalim' && file['ProviderName'] !== 'Amex' && file['ProviderName'] !== 'Leumi'" src="../../../assets/brand/gm-icon.ico" width="20" height="15" alt="">
          <p class="p-col" style="padding-left:1em">
            {{file[col.field].toLocaleString() | utcToLocalTime |  date:'dd/MM/yy'}}</p>
        </div>

      </ng-template>
      <ng-template pTemplate="footer">
        <div>Total</div>
      </ng-template>
    </p-column>

    <p-column field="Description" header="Description" [sortable]="true" styleClass="col-box-small">
    </p-column>
    <p-column field="Amount" header="Income" [sortable]="true" styleClass="col-box-small">
      <ng-template let-data="rowData" pTemplate="body">
        <div *ngIf="isIncomeTransaction(data['Type'])" [ngStyle]="{'color': getTransactionColor(data['Type'])}">
          {{data['Amount'] | currency:'ILS':'symbol':'1.2-2'}}
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="income">
          {{getTotalIncome() | currency:'ILS':'symbol':'1.2-2'}}
        </div>
      </ng-template>
    </p-column>
    <p-column field="Amount" header="Expense" [sortable]="true" styleClass="col-box-small">
      <ng-template let-data="rowData" pTemplate="body">
        <div *ngIf="!isIncomeTransaction(data['Type'])" [ngStyle]="{'color': getTransactionColor(data['Type'])}">
          -{{data['Amount'] | currency:'ILS':'symbol':'1.2-2'}}
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="expense">
          -{{getTotalExpense() | currency:'ILS':'symbol':'1.2-2'}}
        </div>
      </ng-template>
    </p-column>
    <p-column *ngIf="isBankAccount() && isSplitScope()" field="CurrentBalance" header="CurrentBalance" [sortable]="true" styleClass="col-box-small">
      <ng-template let-data="rowData" pTemplate="body">
        <div *ngIf="isNumber(data['CurrentBalance'])" [ngStyle]="{'color': getBalanceColor(data['CurrentBalance'])}">
          {{data['CurrentBalance'] | currency:'ILS':'symbol':'1.2-2'}}
        </div>
      </ng-template>
    </p-column>

    <ng-template pTemplate="emptymessage">
      No transactions found
    </ng-template>

  </p-dataTable>
  <p-treeTable *ngIf="!isFlatTable()" [value]="transactionsTree" [columns]="treeTableCols">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of treeTableCols" [ttSortableColumn]="col.field">
          {{col.header}}
          <!--<p-treeTableSortIcon [field]="col.field"></p-treeTableSortIcon>-->
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
      <tr>
        <td>
          <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
          <span *ngIf="isDate(rowData.PaymentDate)">
            {{rowData.PaymentDate.toLocaleString() | utcToLocalTime |  date:'dd/MM/yy'}}
          </span>
          <span *ngIf="!isDate(rowData.PaymentDate)">
            {{rowData.PaymentDate}}
          </span>
        </td>
        <td>{{rowData.Description}}</td>
        <td>
          <span *ngIf="isIncomeTransaction(rowData.Type)" [ngStyle]="{'color': getTransactionColor(rowData.Type)}">
            {{rowData.Amount | currency:'ILS':'symbol':'1.2-2'}}
          </span>
        </td>
        <td>
          <span *ngIf="!isIncomeTransaction(rowData.Type)" [ngStyle]="{'color': getTransactionColor(rowData.Type)}">
             -{{rowData.Amount | currency:'ILS':'symbol':'1.2-2'}}
          </span>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="footer" let-columns>
      <tr class="footer">
        <td>Total</td>
        <td></td>
        <td>
          <div class="income">
            {{getTotalIncome() | currency:'ILS':'symbol':'1.2-2'}}
          </div>
        </td>
        <td>
          <div class="expense">
            -{{getTotalExpense() | currency:'ILS':'symbol':'1.2-2'}}
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage" class="ui-datatable-emptymessage">
      <tr>
        <td colspan="4">
          <div class="ui-datatable-emptymessage">
            No transactions found
          </div>
        </td>
      </tr>
    </ng-template>

  </p-treeTable>
</div>
</div>

<!--<div *ngIf="isLoading" class="ui-g-4 ui-g-offset-4">-->
  <!--<p-progressSpinner class=""-->
                     <!--[style]="{width: '200px', height: '200px',top: '30%'}"-->
                     <!--strokeWidth="2"-->
                     <!--animationDuration="1.0s"-->
                     <!--fill="white">-->
  <!--</p-progressSpinner>-->
<!--</div>-->


