@import "../../sass/styles";
@import "../../sass/button";

.overview-outline{
  background-color: $at-ocean;
  height: 2px;
  width: 100%;
}

.total-outline{
  background-color: #666666;
  height: 0.5px;
  width: 100%;
}

.overview-container{
  padding: 2em 4em 2em 4em;
  height: 100%;
}

.overview-sub-container{
  padding: 1em 2em 1em 2em;

}

.overview-caption{
  @include light-font-sm;
  font-size: 2em;

  color: $at-ligth-blue;
}

.loan-text{
  @include regular-font-md;
  font-size: 1.2em;
  color: #666666;
}

.ie-text{
  @include light-font-md;
  font-size: 1em;
  color: #666666;
}

.loan-number{
  @include light-font-md;
  font-size: 1em;
  line-height: 1.8em;
  color: #FF7F50;
}

.loan-number-total{
  @include light-font-md;
  font-size: 1em;
  line-height: 1.8em;
  color: #FF6347;
}

.right {
  float: right;
  //text-align: right;
}

.center{
  text-align: center;
}

.no-data{
  @include regular-font-xxxl;
  color: $at-ligth-blue;
  line-height: $at-line-height-2;
}

